<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>book comment form</title>
    </head>
    <body>
        
        <p>add your fucking comment for book :
            <div>{{book.title_book}}</div><br>
        </p>   
        <form method="post" action="{%  url 'add-book-comment' book.id %}">
            {% csrf_token %}
            <label>Author:
                <input type="text", name="author_kto_napisal">
            </label>    
            <label>Comment:
                <input type="text", name="content_co_zostalo_napisane">
            </label>
            <br>
            <input type="submit" value="add coment">
        </form>
    </body>
</html>